<div class="body-grid">
  <div class="picture1"></div>
  <div class="picture2"></div>
  <div class="picture3"></div>
  <div class="picture4"></div>
  <div class="picture5"></div>
  <div class="picture6"></div>
  <div class="picture7"></div>
  <div class="picture8"></div>
  <div class="picture9"></div>
  <div class="picture10"></div>
  <div class="picture11"></div>
  <div class="picture12"></div>
  <div class="picture13"></div>
  <div class="picture14"></div>
  <div class="picture15"></div>
  <div class="picture16"></div>
  <div class="picture17"></div>
  <div class="picture18"></div>
  <div class="picture19"></div>
  <div class="picture20"></div>
  <div class="picture21"></div>
  <div class="picture22"></div>
  <div class="picture23"></div>




  <!-- <div class="tall-half">
    <img src="#" alt="sunshine or bust">
  </div>
  <div class="half-half">
    <img src="#" alt="flower gif">
  </div>
  <div class="qtr-half1">
    <img src="./assets/img/pink-wall.jpeg" alt="pink wall">
  </div>
  <div class="qtr-half">
    <img src="#" alt="mustard shoe">
  </div>
  <div class="half-half">
    <img src="#" alt="festival - womens">
  </div>
  <div class="half-half">
    <img src="#" alt="festival - mens">
  </div>
  <div class="shoe-banner">
    <img src="" alt="classic chuck">
    <img src="" alt="chuck 70">
    <img src="" alt="one star">
    <img src="" alt="jack purcell">
  </div>
  <div class="half-half">
    <img src="#" alt="feature article">
  </div>
  <div class="half-half">
    <img src="#" alt="jack purcell chukka">
  </div>
  <div class="tall-half">
    <img src="#" alt="rainbow top">
  </div>
  <div class="half-half">
    <img src="#" alt="headliner looks">
  </div>
  <div class="qtr-qtr-half">
    <img src="#" alt="dip dye collection">
  </div>
  <div class="qtr-qtr-half">
    <img src="#" alt="custom platforms">
  </div>
  <div class="qtr-half">
    <img src="#" alt="shoreline slip-ons">
  </div>
  <div class="half-half">
    <img src="#" alt="blue leather">
  </div>
  <div class="half-half">
    <img src="#" alt="laidback leather">
  </div>
  <div class="half-half">
    <img src="#" alt="flaunt your flair">
  </div>
  <div class="tall-half">
    <img src="#" alt="paradise prints platform">
  </div>
  <div class="half-half">
    <img src="./assets/img/field.jpeg" alt="@rixhist">
  </div>
  <div class="qtr-half">
    <img src="#" alt="custom colors & prints">
  </div>
  <div class="qtr-half">
    <img src="#" alt="custom slip-ons">
  </div>
  <div class="half-half">
    <img src="#" alt="flamingos">
  </div>
  <div class="half-half">
    <img src="#" alt="news on the new">
  </div> -->
</div>
