<div class="body-grid">
  <div class="picture1"><img src="./assets/img/mindy.jpg" alt="@mindytoki"></div>
  <div class="picture2"><img src="./assets/img/sky.jpg" alt="sky"></div>
  <div class="picture3"><img src="./assets/img/platforms.jpg" alt="platforms"></div>
  <div class="picture4"><img src="./assets/img/stars.jpg" alt="one star"></div>
  <div class="picture5"><img src="./assets/img/festival-womens.jpg" alt="festval womens"></div>
  <div class="picture6"><img src="./assets/img/festival-mens.jpg" alt="festival mens"></div>
  <div class="picture7">
    <div class="banner-headers">
      <h2>CHOOSE YOUR ICON</h2>
      <h3><i class="fas fa-arrow-right"></i> Shop All Shoes</h3>
    </div>
    <div class="originals">
      <img src="./assets/img/high-top-banner.jpg" alt="high tops">
      <img src="./assets/img/two-banner.jpg" alt="classics">
    </div>
    <div class="banner-shoes">
      <h3>Classic Chuck</h3>
      <h3>Classic 70</h3>
      <h3>One Star</h3>
      <h3>Jack Purcell</h3>
    </div>
  </div>
  <div class="picture8"><img src="./assets/img/friends.jpg" alt="friends"></div>
  <div class="picture9"><img src="./assets/img/palms.jpg" alt="logo tee"></div>
  <div class="picture10"><img src="./assets/img/pink-wall.jpeg" alt="ig model"></div>
  <div class="picture11">
    <div class="pic11-container">
      <h1>NEWS ON<br>THE NEW</h1>
      <p>We'll send you the latest news on deals, product launches, collaborations and more when you sign up for emails.</p>
      <button type="button" name="button">Sign Up</button>
    </div>
  </div>
  <div class="picture12"><img src="./assets/img/tight-rope.jpg" alt="tight rope"></div>
  <div class="picture13"><img src="./assets/img/goretex.jpg" alt="gore-tex"></div>
  <div class="picture14"><img src="./assets/img/hearts.jpg" alt="heart rubber bottoms"></div>
  <div class="picture15">
    <div class="pic15-container">
      <p>Available Now</p>
      <h1>CONVERSE X <br> FOOTPATROL</h1>
      <p>Get your hit of vintage Americana with Converse x Footpatrol’s mashed-up take on heritage sportswear.</p>
      <div class="pic15-buttons">
        <button type="button" name="button">Shop the Collection</button>
        <button type="button" name="button">See the Story</button>
      </div>
    </div>
  </div>
  <div class="picture16"><img src="./assets/img/orange.jpg" alt="footpatrol"></div>
  <div class="picture17"><img src="./assets/img/legs.jpg" alt="three styles"></div>
  <div class="picture18"><img src="./assets/img/field.jpeg" alt="@rixhist"></div>
  <div class="picture19"><img src="./assets/img/chuck70.jpg" alt="chuck 70s"></div>
  <div class="picture20"><img src="./assets/img/partial-logo.jpg" alt="part of logo"></div>
  <div class="picture21"><img src="./assets/img/heart-eye.jpg" alt="heart eyes"></div>
  <div class="picture22"><img src="./assets/img/green.jpg" alt="Tyler The Creator | Golf"></div>
  <div class="picture23">
    <div class="pic23-container">
      <p>Sold Out</p>
      <h1>CONVERSE X <br> GOLF le FLEUR*</h1>
      <p>Tyler, the Creator unveils his latest GOLF le FLEUR* collaboration with Converse: Gator. A limited collection of 999 pairs.</p>
      <p>Missed out? Sign up for emails and be the first to know about future drops.</p>
      <div class="pic23-buttons">
        <button type="button" name="button">Swipe Up for Emails</button>
        <button type="button" name="button">See the Story</button>
      </div>
    </div>
  </div>


</div>
