<div class="sub-container">
  <div class="left">
    <div class="shoe-stock">
      <h1>SHOES</h1>
      <h3>ALL SHOES</h3>
      <h3>BEST SELLERS</h3>
      <h3>CLASSIC CHUCK</h3>
      <h3>CHUCK 70</h3>
      <h3>ONE STAR</h3>
      <h3>JACK PURCELL</h3>
      <h3>CUSTOM</h3>
    </div>
    <div class="clothing-stock">
      <h1>CLOTHING</h1>
    </div>
    <div class="accessories">
      <h1>ACCESSORIES</h1>
    </div>
    <div class="featured-pics">
      
    </div>
  </div>
  <div class="right">
    <div class="explore">
      <h3><i class="fas fa-arrow-right"></i> Explore Women's</h3>
    </div>
    <div class="shop-for">
      <p>SHOP FOR</p>
      <p>High Top</p>
      <p>Low Top</p>
      <p>Platform</p>
      <p>Slip-Ons</p>
      <p>Boots</p>
      <p>Sale</p>
    </div>
    <div class="featured">
      <p>FEATURED</p>
      <p>Trending Now</p>
      <p>New Releases</p>
      <p>Festival Style</p>
    </div>
  </div>
</div>
