<div class="container">
  <div class="navDiv">
    <div class="tabDiv">
      <img id="logo" src="../../assets/img/logo.png" alt="converse logo">
      <p>Women</p>
      <p>Men</p>
      <p>Kids</p>
      <p>Custom</p>
      <p>Limited Edition</p>
      <p>Sale</p>
    </div>
    <div class="login">
      <a href="#">Sign In</a>
      <img src="#" alt="my account">
      <img src="#" alt="favorites">
      <img src="#" alt="shopping cart">
    </div>
    <div class="searchBar">
      <input type="text" placeholder="Search">
      <img src="#" alt="search icon">
    </div>
  </div>
</div>
