*{
  border: 1px solid red;
}

.navDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
  height: 50px;
  position: fixed;
  background-color: white;
}
.tabDiv{
  display: flex;
  flex-direction: row;
}

.logo{
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: center;
}
#logo{
  width: 50%;
  height: 20%;
}

.tabs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  opacity: 100%;
  cursor: pointer;
}
.tabs:hover{
  opacity: 10%;
}
.tabs a{
  font-size: .8em;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.tabs a:hover{
  color: black
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  width: 30%;
}
.login a{
  color: black;
  width: 30%;
  text-decoration: none;
  text-align: center;
}

.searchBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 30%;
  padding: 0 1%;
  border: 1px solid yellow;
}
.searchBar a{
  font-size: .8em;
  color: white;
  text-decoration: none;
}
.searchBar img{
  width: 20px;
  height: 20px;
}
