<!-- <app-nav></app-nav> -->
<div class="content-wrapper">
  <div class="upper-nav">
    <div class="country">
      <img src="./../assets/img/flag.png" alt="american flag">
      <a href="#">US</a>
      <p> | </p>
      <a href="#">EN</a>
    </div>
  </div>
  <div class="nav">
    <div class="tabs">
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="converse logo">
      </div>
      <div class="merch">
        <a href="#">Women</a>
        <a href="#">Men</a>
        <a href="#">Kids</a>
        <a href="#">Custom</a>
        <a href="#">Limited Edition</a>
        <a href="#">Sale</a>
      </div>
    </div>
    <div class="login">
      <a href="#">Sign In</a>
      <img src="./../assets/img/user.png" alt="my account">
      <img src="./../assets/img/heart.png" alt="favorites">
      <img src="./../assets/img/cart.png" alt="shopping cart">
    </div>
    <div class="searchBar">
      <a href="#">Search</a>
      <img src="./../assets/img/search.png" alt="search icon">
    </div>
  </div>

  <div class="content">

  </div>
  <footer>
    <div class="lower-nav-holder">
      <div class="email-list">
        <p>Never Miss a Beat</p>
        <p>Be the first to hear about product launches, collaborations, and more when you sign up for our emails.</p>
        <div class="search">
          <input type="text" placeholder="Enter your email address">
          <button type="button" name="button"><img src="#" alt="submit email address"></button>
        </div>
      </div>
      <div class="social-media">

      </div>
      <div class="site-help">

      </div>
      <div class="company-about">

      </div>
    </div>
  </footer>
</div>
