<!-- <app-nav></app-nav> -->
<div class="content-wrapper">
  <div class="upper-nav">
    <div class="country">
      <img src="./../assets/img/flag.png" alt="american flag">
      <a href="#">US</a>
      <p> | </p>
      <a href="#">EN</a>
    </div>
  </div>
  <div class="nav">
    <div class="tabs">
      <div class="logo">
        <img src="../../assets/img/logo.png" alt="converse logo">
      </div>
      <div class="merch">
        <a href="#">Women</a>
        <a href="#">Men</a>
        <a href="#">Kids</a>
        <a href="#">Custom</a>
        <a href="#">Limited Edition</a>
        <a href="#">Sale</a>
      </div>
    </div>
    <div class="login">
      <a href="#">Sign In</a>
      <img src="./../assets/img/user.png" alt="my account">
      <img src="./../assets/img/heart.png" alt="favorites">
      <img src="./../assets/img/cart.png" alt="shopping cart">
    </div>
    <div class="searchBar">
      <a href="#">Search</a>
      <img src="./../assets/img/search.png" alt="search icon">
    </div>
  </div>

  <div class="content">

  </div>
  <footer>
    <div class="lower-nav-holder">
      <div class="email-list">
        <h4>Never Miss a Beat</h4>
        <p>Be the first to hear about product launches, collaborations, and more when you sign up for our emails.</p>
        <div class="search">
          <input type="text" placeholder="Enter your email address">
          <button type="button" name="button"><i class="fas fa-arrow-"></i></button>
        </div>
      </div>
      <div class="social-media">
        <h4>Find a Store</h4>
        <h4>Shop Gift Cards</h4>
        <h4>Follow Us:</h4>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
      <div class="site-help">
        <h4>Get Help</h4>
        <p>Contact Us</p>
        <p>Order Status</p>
        <p>Shipping & Delivery</p>
        <p>Returns</p>
        <p>Payment Options</p>
        <p>FAQs</p>
        <p>Student Discounts</p>
        <p>Military Discounts</p>
      </div>
      <div class="company-about">
        <h4>About Converse</h4>
        <p>Careers & Culture</p>
        <p>Retail Stores</p>
        <p>Nike.com</p>
        <p>Jordan.com</p>
        <p>Hurley.com</p>
      </div>
    </div>
    <div class="bottom-bar">
      <div class="country-bottom-container">
        <div class="country-bottom">
          <img src="./../assets/img/flag.png" alt="american flag">
          <a href="#">US</a>
          <p> | </p>
          <a href="#">EN</a>
        </div>
        <div class="legal">
          <a href="#">Terms of Use</a>
          <a href="#">Terms of Sale</a>
          <a href="#">Privacy Policy</a>
          <a href="#">CA Supply Chains Act</a>
        </div>
        <div class="copyright">
          <i class="far fa-copyright"></i><p>2019 Converse</p>
        </div>
      </div>
    </div>
  </footer>
  <div class="live-chat">
    <i class="far fa-comment-alt"></i>
  </div>
</div>
